<div class="wrap-comp">
@switch(objId){
	case 31:
		<RazorLED value=@(boolValue())></RazorLED>
		break;
	case 41:
		<RazorLCD1602 characters=@((byte[])individualData["mainValue"])></RazorLCD1602>
		break;
	default:
		<div>does not match any ID: @objId</div>
		break;
}
</div>

@code {
	[Parameter]
	public int objId { get; set; }


	[Parameter]
	public Dictionary<string, object> individualData { get; set; }



	public bool boolValue()
	{
		if (individualData["mainValue"] is JsonElement value)
		{
			bool a = value.GetBoolean();
			return a;
		}
		else if (individualData["mainValue"] is bool val)
		{
			return val;
		}
		else{
			throw new Exception("boolValue (varying component) got weird type in \"mainValue\".");
		}

	}
}
